<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head_bootstrap %>
    <title>URL - TinyApp v.kacsokz</title>
  </head>

  <body>
    <head>
      <% include ./partials/_header %>
    </head>

      <div class="card text-center">
          <div class="card-header"></div>
          <div class="card-body">
            <h5 class="card-title">TinyURL for: <a href="<%= longURL %>"><%= longURL %></a></h5>
            <p class="card-text">Short URL: <a href="<%= longURL %>"><%= shortURL %></a></p>
          </div>
        <div class="card-footer text-muted">
          <h2>Edit</h2>
          <form class="form-inline" action="/urls/<%= shortURL %>/update" method="POST" style="justify-content: center">
            <div class="form-group mb-2">
              <label for="longURL">New URL:</label>
              <input class="form-control" type="url" name="longURL" placeholder="http://" style="width: 300px; margin: 1em">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
      <% include ./partials/_body_bootstrap %>
  </body>
</html>